@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');

body {
background: #292323;
font-family: 'Radio Canada', sans-serif;
}

div {
padding: 10px;
margin: 4%;
background: white;
border-radius: 15px;
height: 777px;
overflow: hidden;
}
