#selectuserinfo {
   text-align: center;
   font-family: 'Roboto', sans-serif;
   margin-top: 200px;
}
#guidefinderlogo {
   width: 15%;
   margin: 0;
   position: absolute;
   top: 0px;
}
#credits {
 position: absolute;
 bottom: 0;
 font-family: 'Roboto', sans-serif;
 font-size: 12px;
}
.gobutton {
   background: grey;
   padding: 10px;
   padding-left: 3%;
   padding-right: 3%;
   border: grey;
   border-radius: 20%;
   margin-left: 60%;
}
.userselect {
   margin-left: 0%;
}
